<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content">
    <div class="container tela-dividida">
        <!-- Left side: Selected balls -->
        <div class="lado-esquerdo">
            <h3 th:text="${jogo} + ' selecionar números'"></h3>
            <div class="tabela-numeros">
                <div th:each="numero : ${numeros_disponiveis}"
                     class="bola"
                     th:text="${numero}"
                     th:attr="data-numero=${numero}">
                </div>
            </div>
        </div>

        <!-- Right side: Input and button -->
        <div class="lado-direito">
            <form th:action="@{/validar-aposta/{jogo}(jogo=${jogo})}" method="get">
<!--                <h3>selecionados (<span id="quantidadeSelecionados">0</span>)</h3>-->
                <h3>selecionados (<span id="quantidadeSelecionados">0</span>) - minimo (<span id="minimo" th:text="${minimo}"></span>)</h3>
                <input type="hidden" name="jogo" th:value="${jogo}">
                <input type="text" id="numerosSelecionados" name="numeros" readonly placeholder="Selecionar numeros">
                <button type="submit" class="btn btn-primary mt-3">Enviar</button>
            </form>
        </div>
    </div>



</div>
</body>