<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content">
    <div class="container table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">sorteio</th>
                <th scope="col">loteria</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sorteio, iterStat : ${response.sorteiosCaixa}">
                <th scope="row" th:text="${iterStat.index + 1}"></th>
                <td th:text="${sorteio}"></td>
                <td th:text="${jogo}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>